body {
    font-family: Roboto, sans-serif;
    color: #757575;
}

/* Header */

.header {
    background: #ffffff;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo-accent {
    color: #2196f3;
}

.menu {
    list-style-type: none;
}

.menu-studio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    list-style-type: none;
}

.menu .menu-studio :active {
    color: #2196f3;
}

.menu-portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    list-style-type: none;
}

.menu-contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    list-style-type: none;
}

.contacts {
    list-style-type: none;
}

.contacts-mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.contacts .contacts-mail :hover {
    color: #2196f3;
}

.contacts-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

/* Main title */

.title {
    background-color: #2f303a;
}

.title h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}

.title-button {
    color: #ffffff;
    background-color: #2196f3;
    cursor: pointer;
}

/* Особенности */

.speciality {}

.speciality-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.speciality ul {
    list-style-type: none;
}

.speciality-title p {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Чем мы занимаемся */

.our-work {
    list-style-type: none;
}

.our-work ul {
    list-style-type: none;
}

.our-work h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

/* Наша команда  */

.team {
    background-color: #f5f4fa;
}

.team-cards {
    color: #ffffff;
}

.team-designer {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-designer h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-designer p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.team-developer {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-developer h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-developer p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.team-marketing {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-marketing h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-marketing p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.team-ui {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-ui h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-ui p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Footer */

.footer {
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    background-color: #2f303a;
}

.footer ul {
    list-style-type: none;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer-mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* Portfolio page 2 */

.portfolio-menu {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    list-style-type: none;
}

.menu .portfolio-menu :active {
    color: #2196f3;
}

/* Filters Portfolio */

.filters {
    list-style-type: none;
}

.filters-all {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.filters-all button:active {
    background-color: #2196f3;
}



.filters-site {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.filters-app {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.filters-design {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.filters-marketing {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* Projects Portfolio */

.projects ul {
    width: 1170px;
    height: 1360px;
    left: 215px;
    top: 174px;
    list-style-type: none;
}

.projects-technokryak {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
}

.projects-technokryak h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: #212121;
}

.projects-technokryak p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: #757575;
}

.projects-design {
    width: 370px;
    height: 404px;
    left: 615px;
    top: 262px;
}

.projects-design h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: #212121;
}

.projects-design p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: #757575;
}

.projects-restaurant {
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 262px;
}

.projects-restaurant h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.projects-restaurant p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.projects-prime {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 696px;
}

.projects-prime h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.projects-prime p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.projects-boxes {
    width: 370px;
    height: 404px;
    left: 615px;
    top: 696px;
}

.projects-boxes h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.projects-boxes p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.projects-site {
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 696px;
}

.projects-site h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.projects-site p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.projects-magazine {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 1130px;
}

.projects-magazine h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.projects-magazine p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.projects-lab {
    width: 370px;
    height: 404px;
    left: 615px;
    top: 1130px;
}

.projects-lab h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.projects-lab p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.projects-app {
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 1130px;
}

.projects-app h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.projects-app p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}