:root {
    --main-text-color: #757575;
    --main-bcg-color: #ffffff;
    --second-bcg-color: #f5f4fa;
    --nav-text-color: #000000;
    --accent-color: #2196F3;
    --hero-bcg-color: #2F303A;
    --main-header-color: #ffffff;
    --second-header-color: #212121;
    --button-color-hover: #eeeeee;
    --footer-bcg-clr: #2f303a;
    --footer-contcs-clr: rgba(255, 255, 255, 0.6);




}

body {
    font-family: Roboto, sans-serif;
    font-family: Raleway, sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bcg-color);

}

.list {
    list-style: none;
    text-decoration: none;

}

.link {
    color: var(--main-text-color);
    text-decoration: none;
}

/* Header */


.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
}

.link .logo-accent {
    color: var(--accent-color);
}

.link .logo-name {
    color: var(--nav-text-color);
}

.navigation .link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--nav-text-color);
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}

.navigation .link:hover,
.navigation .link:focus {
    color: var(--accent-color)
}

/* Contacts */

.contacts .contacts-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--second-header-color);
    list-style: none;
    text-decoration: none;
}

.contacts .contacts-link:hover,
.contacts .contacts-link:active {
    color: var(--accent-color);
    cursor: pointer;
}

/* Hero section */

.hero {
    background-color: var(--hero-bcg-color);
    text-align: center;
}

.hero .hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-header-color);
}

.hero .hero-button {
    width: 200px;
    height: 50px;

    background-color: var(--accent-color);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-header-color);

}

.hero .hero-button:hover,
.hero .hero-button:focus {
    background-color: var(--button-color-hover);
    cursor: pointer;
}


/* Особенности */

.spec-title {
    display: none;
}

.spec-list {
    text-decoration: none;
    list-style: none;
}

.speciality .item-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-header-color);
}

.speciality .item-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/* Чем мы занимаемся */

.work-title,
.team-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-header-color);
}

.work-list {
    text-decoration: none;
    list-style: none;

}

.image-work {
    width: 370px;
    height: 294px;
}

/*  Kоманда  */

.team-card {
    width: 270px;
    height: 369px;
    background-color: var(--main-bcg-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-image {
    width: 270px;
    height: 260.71px;
}

.card-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-header-color);
}

.card-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/* Footer */

.footer {
    width: 1600px;
    height: 252px;
    background-color: #2f303a;
}

.footer ul {
    list-style-type: none;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer-mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* Portfolio page 2 */


/* Filters Portfolio */

.filters {
    list-style-type: none;
}

.filters-all {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.filters button:hover,
.filters button:active {
    color: #212121;
    background-color: #2196f3;
}



.filters-site {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.filters-app {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.filters-design {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.filters-marketing {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* Projects Portfolio */

.projects ul {
    width: 1170px;
    height: 1360px;
    left: 215px;
    top: 174px;
    list-style-type: none;
}

.projects-technokryak {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
}

.projects-technokryak h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: #212121;
}

.projects-technokryak p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: #757575;
}

.projects-design {
    width: 370px;
    height: 404px;
    left: 615px;
    top: 262px;
}

.projects-design h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: #212121;
}

.projects-design p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: #757575;
}

.projects-restaurant {
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 262px;
}

.projects-restaurant h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.projects-restaurant p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.projects-prime {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 696px;
}

.projects-prime h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.projects-prime p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.projects-boxes {
    width: 370px;
    height: 404px;
    left: 615px;
    top: 696px;
}

.projects-boxes h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.projects-boxes p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.projects-site {
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 696px;
}

.projects-site h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.projects-site p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.projects-magazine {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 1130px;
}

.projects-magazine h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.projects-magazine p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.projects-lab {
    width: 370px;
    height: 404px;
    left: 615px;
    top: 1130px;
}

.projects-lab h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.projects-lab p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.projects-app {
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 1130px;
}

.projects-app h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.projects-app p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}